Polygon38/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Polygon38"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_ak_01",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "input/sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Exchanges API to Parquet Dynamic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['asset_class']"
										},
										"sink": {
											"name": "asset_class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['locale']"
										},
										"sink": {
											"name": "locale",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['acronym']"
										},
										"sink": {
											"name": "acronym",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['mic']"
										},
										"sink": {
											"name": "mic",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['operating_mic']"
										},
										"sink": {
											"name": "operating_mic",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['participant_id']"
										},
										"sink": {
											"name": "participant_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['url']"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count",
											"type": "Int16"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_Exchanges",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": "dim_exchanges",
									"ds_directoryName": "dim",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "TickerTypes API to Parquet Dynamic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['code']"
										},
										"sink": {
											"name": "code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['asset_class']"
										},
										"sink": {
											"name": "asset_class",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['locale']"
										},
										"sink": {
											"name": "locale",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_TickerTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": "dim_ticker_types",
									"ds_directoryName": "dim",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Market_Holidays API to Parquet Dynamic_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['close']"
										},
										"sink": {
											"name": "close",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['exchange']"
										},
										"sink": {
											"name": "exchange",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['open']"
										},
										"sink": {
											"name": "open",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_MarketHolidays",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": "dim_market_holidays_upcoming",
									"ds_directoryName": "dim",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tickers API to Parquet Dynamic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['ticker']"
										},
										"sink": {
											"name": "ticker",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['market']"
										},
										"sink": {
											"name": "market",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['locale']"
										},
										"sink": {
											"name": "locale",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['primary_exchange']"
										},
										"sink": {
											"name": "primary_exchange",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['active']"
										},
										"sink": {
											"name": "active",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['currency_name']"
										},
										"sink": {
											"name": "currency_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cik']"
										},
										"sink": {
											"name": "cik",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['composite_figi']"
										},
										"sink": {
											"name": "composite_figi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['share_class_figi']"
										},
										"sink": {
											"name": "share_class_figi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['last_updated_utc']"
										},
										"sink": {
											"name": "last_updated_utc",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['next_url']"
										},
										"sink": {
											"name": "next_url",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_Tickers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": "dim_tickers",
									"ds_directoryName": "dim",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T19:14:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_tickers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Tickers 4900",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.next_url"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings",
									"maxRowsPerFile": 4900,
									"fileNamePrefix": ""
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "R_facts",
								"type": "DatasetReference",
								"parameters": {
									"RelativeURL": {
										"value": "@concat(pipeline().parameters.url_1endpoint,pipeline().parameters.url_2limit,pipeline().parameters.url_3sort)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq_maxrows",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_directoryName": "dim_tickers"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"url_1endpoint": {
						"type": "string",
						"defaultValue": "v3/reference/tickers"
					},
					"url_2limit": {
						"type": "string",
						"defaultValue": "?limit=1000"
					},
					"url_3sort": {
						"type": "string",
						"defaultValue": "&sort=ticker"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fact_aggregates')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "REST fact_stocks_aggregates",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.next_url"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['v']"
										},
										"sink": {
											"name": "v",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "[['vw']"
										},
										"sink": {
											"name": "vw",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['o']"
										},
										"sink": {
											"name": "o",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['c']"
										},
										"sink": {
											"name": "c",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['h']"
										},
										"sink": {
											"name": "h",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['l']"
										},
										"sink": {
											"name": "l",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['t']"
										},
										"sink": {
											"name": "t",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['n']"
										},
										"sink": {
											"name": "n",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['ticker']"
										},
										"sink": {
											"name": "ticker",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['queryCount']"
										},
										"sink": {
											"name": "queryCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['resultsCount']"
										},
										"sink": {
											"name": "resultsCount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['adjusted']"
										},
										"sink": {
											"name": "adjusted",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count",
											"type": "Int32"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_facts",
								"type": "DatasetReference",
								"parameters": {
									"RelativeURL": {
										"value": "@concat(pipeline().parameters.url_1aggregates,pipeline().parameters.url_2ticker,pipeline().parameters.url_3candle_range,'/',pipeline().parameters.url_4date_start,'/',pipeline().parameters.url_5date_end,pipeline().parameters.url_6param,pipeline().parameters.url_7limit)",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": {
										"value": "@concat(pipeline().parameters.url_2ticker,'From ',pipeline().parameters.url_4date_start,'Until ',pipeline().parameters.url_5date_end)",
										"type": "Expression"
									},
									"ds_directoryName": "fact_aggregates",
									"ds_fileName2": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"url_1aggregates": {
						"type": "string",
						"defaultValue": "v2/aggs/ticker/"
					},
					"url_6param": {
						"type": "string",
						"defaultValue": "?adjusted=true&sort=asc"
					},
					"url_7limit": {
						"type": "string",
						"defaultValue": "&limit=100"
					},
					"url_4date_start": {
						"type": "string",
						"defaultValue": "2023-06-28"
					},
					"url_3candle_range": {
						"type": "string",
						"defaultValue": "/range/1/minute"
					},
					"url_2ticker": {
						"type": "string",
						"defaultValue": "AAPL"
					},
					"url_5date_end": {
						"type": "string",
						"defaultValue": "2023-06-28"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-21T20:56:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fact_options')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy API to Table fact_stocks_grouped_daily_bars",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@pipeline().parameters.Key",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['results'][0]['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['name']"
										},
										"sink": {
											"name": "publisher_name"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['homepage_url']"
										},
										"sink": {
											"name": "publisher_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['logo_url']"
										},
										"sink": {
											"name": "publisher_logo_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['favicon_url']"
										},
										"sink": {
											"name": "publisher_favicon_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['title']"
										},
										"sink": {
											"name": "title"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['author']"
										},
										"sink": {
											"name": "author"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['published_utc']"
										},
										"sink": {
											"name": "published_utc"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['article_url']"
										},
										"sink": {
											"name": "article_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['tickers'][0]"
										},
										"sink": {
											"name": "tickers"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['image_url']"
										},
										"sink": {
											"name": "image_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['keywords'][0]"
										},
										"sink": {
											"name": "keywords"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count"
										}
									},
									{
										"source": {
											"path": "$['next_url']"
										},
										"sink": {
											"name": "next_url"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_fact_stocks_grouped_daily_bars",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "stocks",
									"ds_fileName": "fact_stocks_grouped_daily_bars",
									"ds_directoryName": "fact",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Key": {
						"type": "string",
						"defaultValue": "Bearer 0ZiwIdFSu_BNdiq3MJ8PKD9Cymj1es4D"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-21T20:56:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_api_key_vault')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get API key free",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keyssigmabi.vault.azure.net/secrets/Polygon-auth-header-free/53e1073d8e794641855e88a6c656a92a?api-version=7.0",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy API to Table fact_stocks_grouped_daily_bars_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get API key free",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@activity('Get API key free').output.value",
										"type": "Expression"
									}
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['results'][0]['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['name']"
										},
										"sink": {
											"name": "publisher_name"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['homepage_url']"
										},
										"sink": {
											"name": "publisher_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['logo_url']"
										},
										"sink": {
											"name": "publisher_logo_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['publisher']['favicon_url']"
										},
										"sink": {
											"name": "publisher_favicon_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['title']"
										},
										"sink": {
											"name": "title"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['author']"
										},
										"sink": {
											"name": "author"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['published_utc']"
										},
										"sink": {
											"name": "published_utc"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['article_url']"
										},
										"sink": {
											"name": "article_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['tickers'][0]"
										},
										"sink": {
											"name": "tickers"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['image_url']"
										},
										"sink": {
											"name": "image_url"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['description']"
										},
										"sink": {
											"name": "description"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['keywords'][0]"
										},
										"sink": {
											"name": "keywords"
										}
									},
									{
										"source": {
											"path": "$['status']"
										},
										"sink": {
											"name": "status"
										}
									},
									{
										"source": {
											"path": "$['request_id']"
										},
										"sink": {
											"name": "request_id"
										}
									},
									{
										"source": {
											"path": "$['count']"
										},
										"sink": {
											"name": "count"
										}
									},
									{
										"source": {
											"path": "$['next_url']"
										},
										"sink": {
											"name": "next_url"
										}
									}
								],
								"collectionReference": "$['results']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "R_fact_stocks_grouped_daily_bars",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls2_parq",
								"type": "DatasetReference",
								"parameters": {
									"ds_blobName": "test",
									"ds_fileName": "test",
									"ds_directoryName": "test",
									"ds_fileName2": {
										"value": "@concat(pipeline().TriggerTime, 'concated') ",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T20:37:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lookup_urls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_urls",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT url_ex_api_key \nFROM urls_polygon \nWHERE url_ex_api_key IS NOT NULL",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sqldb",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-23T23:33:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqldb')]"
			]
		}
	]
}